body {
	background-color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  width: 400px;
  border-radius: 7px;
}

.navbar a {
  color: white;
  background-color: #4e61bf;
  text-decoration: none;
  border-radius: 7px;
  height: 25px;
  width: 20%;
  text-align: center;
  padding-top: 1%;
  font-family: 'Open Sans', sans-serif;
  margin-top: inherit;
}

.maybe-logo {
	text-decoration: none;
	background-color: #fff;
	border-radius: 7px;
	height: 60px;
	width: 60px;
	text-align: center;
	padding-top: 1%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}